.purple-bg {
    background-color: #543d6b;
}

.purple-text {
    color: #543d6b;
}

.pink-bg {
    background-color: #d72d87;
}

.pink-text {
    color: #d72d87;
}

.grey-bg {
    background-color: #f4f4f4;
}

.grey-text {
    color: #999;
}

.wrapper{
    max-width: 90%;
}

.wrapper{
    
}